/* ------------------------------------
author: Tim Stoddard
email: tim.stoddard2@gmail.com
------------------------------------ */


/*** EXTENSION STYLES ***/
#error {
  background: rgba(255,0,0,0.4);
  border: 2px solid red;
}

#error > span {
  font-weight: bold;
}

.headerLink {
  color: white;
}

.headerText {
  margin-right: 10px;
}

.headerLink:hover {
  font-style: italic;
}

.rating {
  font-weight: bold;
}

.ratingLink {
  cursor: pointer;
  text-decoration: none;
}

/*** PASS STYLES (OVERRIDDEN) ***/
.sidebar > ul,
.sidebar > ul > li:not([id]):not([class]) {
  border-radius: 4px;
}

#cart-list-divider,
.cart-list-divider {
  border-radius: 4px 4px 0 0;
}

.cart-action:hover {
  color: red !important;
}

.select-course {
  border-radius: 4px 4px 0 0;
  margin-top: 0 !important;
}

.select-course ~ .select-course {
  margin-top: 10px !important;
}

.select-course > h3 {
  border-radius: 4px 4px 0 0 !important;
  overflow-y: hidden;
}