{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "semi": [
      "warn",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ]
  }
}