{
  "env": {
    "browser": true,
    "jquery": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended"
  ],
  "globals": {
    "chrome": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "class-methods-use-this": "off",
    "eqeqeq": "error",
    "no-multi-assign": "off",
    "semi": ["error", "never"]
  }
}