/* ------------------------------------
author: Tim Stoddard
email: tim.stoddard2@gmail.com
------------------------------------ */


// variables
$borderColor: rgb(195,195,195);

// mixins
@mixin inputBase($borderRadius) {
  border: 1px solid black;
  border-radius: $borderRadius;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
  content: '\00a0';
  height: 16px;
  margin: 0 8px 0 4px;
  padding: 0;
  vertical-align: middle;
  width: 16px;
}

// styles
* {
  user-select: none;
}

html {
  font-size: 18px;
}

body {
  text-align: center;
}

.container {
  background: rgb(235,235,235);
  border: 2px solid $borderColor;
  border-radius: 10px;
  display: inline-block;
  padding: 0 40px 20px 40px;
}

h2 {
  font-size: 1.5rem;
  margin: 1rem;
  text-decoration: underline;
}

.labelText {
  align-items: center;
  display: flex;
  text-transform: capitalize;
}

.checkboxLabel {
  border: 2px solid $borderColor;
  border-radius: 5px;
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 5px;
  text-align: left;
  white-space: nowrap;

  &:hover {
    background: $borderColor;
    cursor: pointer;
  }
}

input[type="checkbox"] {
  display: none;

  + .labelText::before {
    @include inputBase(3px);
  }

  &:checked + .labelText::before {
    background: white;
    content: '\2713';
    text-align: center;
  }
}

.radioOption {
  border: 2px solid $borderColor;
  border-radius: 5px;
  margin-bottom: 10px;
}

.radioHeader {
  border-bottom: 1px solid $borderColor;
  font-size: 1.1rem;
}

.radioLabel {
  display: inline-block;
  font-size: 1rem;
  padding: 5px;
  text-align: left;
  white-space: nowrap;

  &:hover {
    background: $borderColor;
    cursor: pointer;
  }
}

input[type="radio"] {
  display: none;

  + .labelText::before {
    @include inputBase(8px);
  }

  &:checked + .labelText::before {
    background: radial-gradient(ellipse at center, black 0%,black 35%, white 40%);
  }
}

button {
  background: none;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;

  &:hover {
    background: $borderColor;
  }

  &:focus {
    outline: none;
  }
}