/* ------------------------------------
author: Tim Stoddard
email: tim.stoddard2@gmail.com
------------------------------------ */


@mixin inputBase($borderRadius) {
  border: 1px solid rgb(120,120,120);
  border-radius: $borderRadius;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
  content: '\00a0';
  font-size: 0.8rem;
  height: 16px;
  margin: 0 8px 0 4px;
  padding: 0;
  width: 16px;
}