/* ------------------------------------
author: Tim Stoddard
email: tim.stoddard2@gmail.com
------------------------------------ */


.pageTitle__main {
  font-size: 34px;
  font-weight: 200;
  white-space: nowrap;
}

.sidebar {
  &Radio {
    &List {
      display: flex;
      margin-top: 4px;
    }

    &Item {
      cursor: pointer;
      margin-right: 10px;
      text-transform: capitalize;

      > input {
        cursor: pointer;
      }
    }
  }

  &Checkbox {
    display: inline-block;

    &Input {
      cursor: pointer;
    }

    &Label {
      cursor: pointer;
      padding-left: 3px;
    }
  }

  &NumberEditTrigger {
    color: rgb(128,128,128);
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    margin-top: 4px;
    text-decoration: underline;

    &:hover {
      font-style: italic;
    }
  }
}

#error {
  background: rgba(255,0,0,0.4);
  border: 2px solid red;
  display: none;

  &.moved {
    display: block;
  }

  > span {
    font-weight: bold;
  }
}

.removeButton {
  background: rgba(255,255,255,0.3);
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  float: right;
  margin-left: 1rem;
  padding: 0 4px;

  &:hover {
    background: rgba(255,0,0,0.3);
    border-color: red;
    color: red;
    text-decoration: none;
  }
}

$sectionAlmostClosedBackground: rgba(255,0,0,0.2);
$sectionAlmostClosedBorder: 2px solid red;
.highlightAlmostClosedSection {
  background: $sectionAlmostClosedBackground !important;

  &--left {
    background: $sectionAlmostClosedBackground;
    border-top: $sectionAlmostClosedBorder;
    border-bottom: $sectionAlmostClosedBorder;
    border-left: $sectionAlmostClosedBorder;
  }

  &--right {
    background: $sectionAlmostClosedBackground;
    border-top: $sectionAlmostClosedBorder;
    border-bottom: $sectionAlmostClosedBorder;
    border-right: $sectionAlmostClosedBorder;
  }
}

.headerLink {
  color: white;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: underline;

  &:hover {
    font-style: italic;
  }
}

.courseDescription {
  background: #4e9a57;
  color: white;
  font-size: 0;
  max-height: 0;
  padding: 0;
  transition: all .25s ease-out;

  &.expanded {
    font-size: 1.1rem;
    line-height: 1.5;
    max-height: 1000px;
    padding: 0 10px 10px 10px;
  }
}

.centeredTd {
  text-align: center;
}

.selectAll {
  margin-left: 4px;
}

.sectionNoteLink {
  color: inherit;
}

.rating {
  font-weight: bold;
}

.ratingLink {
  cursor: pointer;
  text-decoration: none;
}

.selectSchedule {
  align-items: center;
  display: flex;
  justify-content: center;

  &__label {
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    padding: 5px;
    transition: all 0.25s ease-out;

    &:hover {
      background: rgb(235,235,235);
    }

    > * {
      cursor: pointer;
    }
  }

  &__text {
    margin-left: 5px;
  }
}
