/* ------------------------------------
author: Tim Stoddard
email: tim.stoddard2@gmail.com
------------------------------------ */


.pageTitle__main {
  font-size: 34px;
  font-weight: 200;
  white-space: nowrap;
}

.sidebarRadio {
  &List {
    display: flex;
    margin-top: 4px;
  }

  &Item {
    cursor: pointer;
    margin-right: 10px;
    text-transform: capitalize;

    > input {
      cursor: pointer;
    }
  }
}

.sidebarCheckbox {
  display: flex;

  &Input {
    cursor: pointer;
  }

  &Label {
    cursor: pointer;
    padding-left: 3px;
  }
}

#error {
  background: rgba(255,0,0,0.4);
  border: 2px solid red;
  display: none;

  &.moved {
    display: block;
  }

  > span {
    font-weight: bold;
  }
}

.removeButton {
  background: rgba(255,255,255,0.3);
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  float: right;
  margin-left: 1rem;
  padding: 0 4px;

  &:hover {
    background: rgba(255,0,0,0.3);
    border-color: red;
    color: red;
    text-decoration: none;
  }
}

.headerLink {
  color: white;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: underline;

  &:hover {
    font-style: italic;
  }
}

.courseDescription {
  background: #4e9a57;
  color: white;
  font-size: 0;
  max-height: 0;
  padding: 0;
  transition: all .25s ease-out;

  &.expanded {
    font-size: 1.1rem;
    line-height: 1.5;
    max-height: 1000px;
    padding: 0 10px 10px 10px;
  }
}

.centeredTd {
  text-align: center;
}

.selectAll {
  margin-left: 4px;
}

.sectionNoteLink {
  color: inherit;
}

.rating {
  font-weight: bold;
}

.ratingLink {
  cursor: pointer;
  text-decoration: none;
}

.selectSchedule {
  border-radius: 4px;
  cursor: pointer;
  padding: 5px;
  transition: all 0.25s ease-out;

  &__text {
    margin-right: 5px;
  }

  &:hover {
    background: rgb(235,235,235);
  }

  > * {
    cursor: pointer;
  }
}
