/* ------------------------------------
author: Tim Stoddard
email: tim.stoddard2@gmail.com
------------------------------------ */


body {
  opacity: 0;
  transition: opacity .25s ease .25s;

  &.visible {
    opacity: 1;
  }
}

.cp-logo > a > img {
  user-select: none;
}

.sidebar > ul,
.sidebar > ul > li:not([id]):not([class]) {
  border-radius: 4px;
}

#cart-list-divider,
.cart-list-divider {
  border-radius: 4px 4px 0 0;

  > .cart-action:hover {
    text-shadow: 0 0 8px white;
  }
}

.cart-action:hover {
  color: red !important;
}

.select-course {
  border-radius: 4px 4px 0 0;
  margin-top: 0 !important;

  ~ .select-course {
    margin-top: 10px !important;
  }

  > h3 {
    border-radius: 4px 4px 0 0 !important;
    overflow-y: hidden;
  }
}

.ge-tag {
  margin-right: 3px;
}

.view-map:hover {
  font-style: italic;
}

.no-bg td > a {
  color: inherit;
}

tr.key-closed td a,
tr.key-avail td a {
  color: inherit;
}

#navbar {
  display: flex;
  justify-content: center;
}