/* ------------------------------------
author: Tim Stoddard
email: tim.stoddard2@gmail.com
------------------------------------ */


$themeColor: rgb(0,175,255);
$themeColorLight: rgba(0,175,255,0.6);

.filter-list > li h2,
.select-course > h3,
.select-course > h3 .ge-tag,
.nav-top,
.cart > li:first-child,
.cart > li:first-child a,
.courseDescription {
  background-color: $themeColor !important;
}
.pageHeader a {
  color: $themeColor !important;
}

.steps .active,
.steps .completed {
  border-bottom-color: $themeColor !important;
  color: $themeColor !important;

}

.cp-logo > a > img {
  filter: hue-rotate(75deg) brightness(200%);
}

.btn-next {
  background-color: white !important;
  background-image: linear-gradient($themeColorLight, $themeColor 95%) !important;

  &[enabled="false"],
  &:hover,
  &:focus {
    background-color: $themeColor !important;
    background-image: none;
  }
}