/* ------------------------------------
author: Tim Stoddard
email: tim.stoddard2@gmail.com
------------------------------------ */


.removeButton {
  font-size: 12px;
  font-weight: normal;
  margin: auto 4px;
  padding: 4px 8px !important;
}

#error {
  background: rgba(255,0,0,0.4);
  border: 2px solid red;
  
  > span {
    font-weight: bold;
  }
}

.headerLink {
  color: white;

  &:hover {
    font-style: italic;
  }
}

.headerText {
  margin-right: 10px;
}

.rating {
  font-weight: bold;
}

.ratingLink {
  cursor: pointer;
  text-decoration: none;
}